/* CSS for https://www.pathofexile.com/trade/ */

#trade > div.results > div.resultset > div:nth-child(n+1) > div.right > div > div.info.s > span > a {
    color: #db570f
}
button.top-btn {
    top: 100px;
    background-color: #7d49fc;
}
div.per-have {
    color: #ff0000;
}
div.per-want {
    color: #00ff00;
}
div.price {
    font-size: 1.4em!important;
}
span.pull-left.stock {
    color: #AAFD6D!important;
}