/* выпиливает левые блоки в верхней части сайта */
div#contentstart.row {
	display: none !important;
}
div.row.form-choose-action {
	display: none !important;
}
p.protip {
	display: none !important;
}