/* Заменяет старое лого в шапке сайта http://starcraft.7x.ru/ на новое. Цветовая гамма не меняется. */

body > div:nth-child(1) > div:nth-child(6) > a:nth-child(1) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://starcraft.7x.ru/images/clanlogo/7x-Team-2014beta-150.png) no-repeat;
	width: 218px; 
	height: 218px; 
	padding-left: 218px;     
	}
