/* css заменяет красные цвета на зеленые на сайте http://starcraft.7x.ru/ Так же убирает и заменяет некоторые элементы верстки */

.search {
	border: #009900 solid 1px!important;
	}
hr {
	border-bottom-color:  #009900!important;
	margin:6px;
	}
input {
	border: 1px solid #009900!important;
	}
select {
 	border: #009900!important;
	border: 1px solid #009900!important;
	}
textarea {
	border: 1px solid #009900!important;
	}
.file{
	border-bottom:#009900 solid 1px!important;
	}
.secondhead{
	border-top:#009900 solid 1px!important;
	}
.mainhead{
	border-top:#009900 solid 1px!important;
	border-bottom:#009900 solid 1px!important;
	}
.div1 {
	border:#009900 1px solid!important;
	}
.img_border_red
{
	border:#090 solid 1px!important;
	}
.the_menu {
	border: 1px solid #090!important;
	}
.the_menu_r {
	border: 1px solid #090!important;
	}
.menu_top {
	border: 1px solid #090!important;
	}
.cut_body {
	border:#009900 solid 1px!important;
	}
.red {
	color: #009900!important;
	}
table.table_red {
	background-color: #090!important;
	}
table.table_cw {
	background-color: #090!important;
	}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border: 1px solid #090!important;
	}
table.table th {
	border: 1px solid #090!important;
	}
#sb-wrapper-inner{
	border:2px ridge #009900!important;
	}
#ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
	border-color: #009900!important;
	}
#ya-site-form0 .ya-site-form__form .ya-site-form__input-text:focus {
	border-color: #009900!important;
	}
div.td:nth-child(7) > div:nth-child(1) {
	border: 1px solid #009900!important;
	}
#shape2 {
	border: 1px solid #009900!important;
	}
#authdrop > div:nth-child(2) {
	border-color: #009900 !important;
	}
#authdrop > div:nth-child(3) {
	border-left: 1px solid #009900!important;
	}
div.search_body {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:  url(http://i.imgur.com/yqBvbO6.png) no-repeat!important;
	width: 198px; 
	height: 71px; 
	padding-left: 0px; 
	}
#authdrop > div:nth-child(1) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:  url(http://i.imgur.com/vioSPhD.png) no-repeat!important;
	width: 28px; 
	height: 29px; 
	padding-left: 28px;
	}
/* правые панельки*/
div.td:nth-child(8) > div:nth-child(1) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/IMApuBk.png) no-repeat;
	width: 140px; /* ширина нового изображения */
	height: 34px; /* высота нового изображения */
	padding-left: 140px; /* размер отступа равен ширине нового изображения   */
	}
div.td:nth-child(8) > div:nth-child(2) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/tqJLNJZ.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;   
	}
div.td:nth-child(8) > div:nth-child(3) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/AC1YIKa.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;
	}
div.td:nth-child(8) > div:nth-child(4) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/ijszuWD.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;     
	}
div.td:nth-child(8) > div:nth-child(5) {
	display: none
	}
div.td:nth-child(8) > div:nth-child(6) {
    display: none
	}
 /* левые панельки*/ 
#newsnav {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/b8nCwq8.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;       
	}
div.td:nth-child(6) > div:nth-child(2) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/I1lCAGJ.png) no-repeat;
	width: 140px;
	height: 34px;
	padding-left: 140px;    
	}
div.td:nth-child(6) > div:nth-child(3) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/RMAltZJ.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;    
	}
div.td:nth-child(6) > div:nth-child(4) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/L8nZFDa.png) no-repeat;
	width: 140px;
	height: 34px; 
	padding-left: 140px;       
	}
div.td:nth-child(6) > div:nth-child(5) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/x2ALlI8.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;         
	}
div.td:nth-child(6) > div:nth-child(6) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/Leh4reR.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;         
	}
div.td:nth-child(6) > div:nth-child(7) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/UoQnORu.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;         
	}
div.td:nth-child(6) > div:nth-child(8) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/BAYFr1M.png) no-repeat;
	width: 140px; 
	height: 34px; 
	padding-left: 140px;
	}
div.td:nth-child(6) > div:nth-child(9) {
	display: none
	}
div.td:nth-child(6) > div:nth-child(10) {
	display: none
	}
div.td:nth-child(6) > div:nth-child(11) {
	display: none
	}
 /* шапка */
body > div:nth-child(1) > div:nth-child(5) > a:nth-child(1) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/OQPTyCJ.png) no-repeat;
	width: 368px;
	height: 63px;
	padding-left: 368px;
	}
body > div:nth-child(1) > div:nth-child(1) {
	border: #009900 1px solid!important;
	}
body > div:nth-child(1) > div:nth-child(2) {
	border: 1px solid #009900 !important;
	}
body > div:nth-child(1) > div:nth-child(3) {
	border: 1px solid #009900 !important;
	}
body > div:nth-child(1) > div:nth-child(4) {
	border: 1px solid #009900 !important;
	}
/* logo */
body > div:nth-child(1) > div:nth-child(6) > a:nth-child(1) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/QZfhW1o.png) no-repeat;
	width: 218px; 
	height: 218px; 
	padding-left: 218px;     
	}
 /* background */
body {
	background-image: url('http://i.imgur.com/BF6UQdc.png');
	}
body > div:nth-child(1) > div:nth-child(8) {
	display: none
	}
body > div:nth-child(1) > div:nth-child(7) > object:nth-child(1) {
	display: none
	}
body > div:nth-child(16) > a:nth-child(1) > img:nth-child(1) {
	display: none
	}
body > div:nth-child(15) > a:nth-child(1) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/OCc8QsB.png) no-repeat;
	width: 34px; 
	height: 34px; 
	padding-left: 34px;   
	}
body > div:nth-child(14) > a:nth-child(1) > img:nth-child(1) {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/ZXdBFET.png) no-repeat;
	width: 34px; 
	height: 34px; 
	padding-left: 34px;     
	}
#form > button:nth-child(2) {
	border: 1px solid #009900!important;
	}
img[src*='13x13arrowdown.gif']  {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/qeF58f5.png) no-repeat;
	width: 13px; 
	height: 13px; 
	padding-left: 13px;    
	}
img[src*='site.gif']  {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/ckVogEJ.png) no-repeat;
	width: 28px; 
	height: 14px; 
	padding-left: 28px;    
	}
img[src*='sc2.gif']  {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/sN0DcYH.png) no-repeat;
	width: 28px; 
	height: 14px; 
	padding-left: 28px;    
	}
img[src*='new.gif']  {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/lJEZsFs.png) no-repeat;
	width: 28px; 
	height: 14px; 
	padding-left: 28px;    
	}
img[src*='clan.gif']  {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/k25t15M.png) no-repeat;
	width: 28px; 
	height: 14px; 
	padding-left: 28px;    
	}
img[src*='sc.gif']  {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/X2squy2.png) no-repeat;
	width: 28px; 
	height: 14px; 
	padding-left: 28px;    
	}
img[src*='gg.gif']  {
display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/9FCmi3C.png) no-repeat;
	width: 28px; 
	height: 14px; 
	padding-left: 28px;    
	}
img[src*='upscroll.gif']  {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://i.imgur.com/0bdp144.png) no-repeat;
	width: 13px; 
	height: 20px; 
	padding-left: 13px;    
	}
.cut_head {
	border: #009900 solid 1px!important;
	}
body > table:nth-child(10) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) {
	border:#009900 1px solid !important;
	}