 /* Фон чата*/
.chat-wrapper .chat-container {
	background-color: #111111;
	}
.chat-container .chat_msg {
	background-color: #111111;
	}
/* выпилить кнопку доната и писать на твич*/
.chat-wrapper .chatTools-container .actions .icon.micro-donate {
	display:none;
}
.chat-wrapper .chatTools-container .actions .icon.send-to-twitch {
	display:none;
	}        
/* Перемещает иконку написать стримеру налево*/
.chat-wrapper .chatTools-container .actions .icon.to_streamer {
	float: left;
	}
/* разделители сообщений*/
.chat-wrapper .chat-container .chat_msg {
    border-bottom: 1px solid #222222;
}
 /*фон админки*/
.system_page .panel.table-wrapper {
	background-color: #111111;
	}
.system_page {
	background-color: #111111;
	}
/* левая панелька фс*/
#left_nav {
	background-color: #000000;
	}
/*сортировка вопросов*/
.system_page .form-inline .form-group select {
	background-color: #111111;
	}
.system_page .form-inline .form-group input {
	background-color: #111111;
	}
/*фон вопросов*/
.system_page .panel.table-wrapper table tbody tr.active td {
	background-color: #445344;
	}  
/*цвет рамки ввода*/
.chat-wrapper .chatTools-container .actions {
	background-color: #111111;
	}
.chat-wrapper .chatTools-container .text_block_wrapper {
	background-color: #111111;
	}
.chat-wrapper .chatTools-container .text_block_wrapper .text_block .text {
	background-color: #111111;
}
.chat-wrapper .chatTools-container .dialog_list_block {
	background-color: #111111;
	}
/*панель над чатом*/
.right_aside .top-tabs {
	background-color : #111111;
	}
 /*цвет кнопок*/   
*#left_nav li i.active, #left_nav li i:hover {
    color: #00a81a
  }
#left_nav li i {
    color: #1a5719
  }
#left_nav ul.bottom li i {
    color: #1a5719
  }
#left_nav ul.bottom li i.active {
    color: #1a5719
  }
  #left_nav ul.bottom li i:hover {
    color: #00a81a
  }
/*цвет вопроса*/  
.chat-wrapper .chat-container .chat_msg .ban-attempt {
	color: #2c9917;
	}
/*сообщения забаненного*/            
.moderation-page .bans-list .more-messages .accused {
	color: #1EA516;
	}
.moderation-page .bans-list .banned-message {
	color: #1EA516;
	}
/*сообщения контекста*/      
.system_page .panel.table-wrapper {
	color: #8D9391;
	}
/*заголовки банов*/       
.system_page .panel.table-wrapper table thead {
	color: #454545;
	}
/*цвет кнопок отменить*/       
.btn-danger {
    color: #FF0000;
    background-color: #21FF00;
    border-color: #21FF00;
}
.moderation-page .bans-list .cancel .btn.no-reflect {
	opacity: 0.2;
	}
/*псевдокласс цвета для кнопок отменить*/             
 .btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
	color: #FF0000;
	background-color: #21FF00;
	border-color: #21FF00;
	opacity: 0.6;
	}
.moderation-page .bans-list .cancel .btn:hover {
	opacity: 0.4;
	}