/*полоска fx*/
#formula-bar {
    background: #515151 !important;
}
.cell-input {
    background-color: #515151 !important;
}
/*цвет текста в полоске fx*/
.cell-input {
    color: #000 !important;
}
.default-formula-text-color {
    color: #000 !important;
}
/*обозначение строк и столбцов */
.goog-inline-block.docs-sheet-tab {
    background-color: #000 !important;
}