/*заменяет бэграунд*/
.main-content-wrapper {
	background: url(http://i.imgur.com/wj2rQvp.jpg) !important;
	background-position: center top 0 !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important; top: 0;
	}
/*убирает отсуп сверху*/ 
.main-content-wrapper {
	padding-top: 0 !important;
	}  
/* светлый скролл*/ 
  .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: #aaa  
	}
	div.ps-scrollbar-y {
	background-color: #aaa
	}
.ps-container > .ps-scrollbar-y-rail {
	opacity: 1;
	}