/* зеленый цвет вопросиков */
.chat-msg__possible-violation {
	color: #2c9917
}

/* фон сайта */
body {
	background-color: #171717
}

/* кнопка подписки */
.btn-subscribe {
	background-color: #171717;
	box-shadow: inset 0 0 0 1px #6c0000;
	color: #6c0000;
}

/* кнопка доната на стриме */
.btn--primary {
	background-color: #015c0b
}

/* всякие полоски */	
.publication__summary {
	border-bottom: none
	}
.blogs-author {
	border-bottom: none
}
/* осветлить слишком темный текст */
.ql-editor, .comment-message, .comment-header__name, .publication__title, .blog-card__title, .blog-card-author__nickname, .article-card__title,	.recent-blogs-item__title, .stream-card__title, .publication__summary, .news-carousel-item__title, .forum-thread__title, .publication-author__nickname, .blogs-author__nickname, .news-archive__header, .news-archive-item__title, .aep-text__title, .aep-text__summary, .ql-editor.ql-blank::before, .adash-column__header, .adash-column-item__title, .apub-feature-header__article,.table td {
	color: #999
}

/* убирает красный хавер на "В прямом эфире" */
.index-stream-divider a:hover {
	color: #999
}

/* разделение сообщений в чате */
.chat-msg {
	border-top: 1px solid #989898;
}
.chat-messages {
	padding: 7px 7px 0;
}

/* черный фон поля ввода комментов */
.input {
	background-color: black;
	color: #d2d2d2;
}

/* выпадающая менюшка блогов */
.hafp-more, .hafp-streams-item__streamer {
	color: #929292;
}
.hafp-blogs {
	background-color: #424242;
}
.hafp-empty span {
	color: #ececec;
}
.hafp-blogs-item__title {
	color: #d2d2d2;
}

/* цвет текста в поле ввода форума */
body, body.content {
	color: #d2d2d2;
}

/* немного говнокода для тру иконки мэйнчата */
main-chat-desktop-header-icon.header-user-favorites_flex > div:nth-child(1) > div:nth-child(1) {
display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://peka2.tv/images/smiles/petush.png) no-repeat;
	width: 30px;
	height: 30px;
	padding-left: 30px;
}

/* то же для иконки блогов */
.header-user-favorites--left_flex > subscribe-favorites-header-icon:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/emoticon-143032-src-c5fb7d1637cf6113-28x28.png) no-repeat;
	width: 30px;
	height: 30px;
	padding-left: 30px;
}

/* то же для иконки избранного */
stream-favorites-header-icon.header-user-favorites_flex > subscribe-favorites-header-icon:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(http://peka2.tv/images/smiles/anilove.png) no-repeat;
	width: 30px;
	height: 30px;
	padding-left: 30px;
}

/* размер картинки в шапке */
.header-wrapper--has-feature {
height: 30%;
	}

/* фикс шапки с рекламмой */
.header-branding-0417 {
	display: none
}

div.body--has-ad::before {
	display: none;
}
.body--has-ad {
	padding-top: 0;
}

/* выпиливает с глагны ссылки на социалки */
.index-social_flex {
	display: none
}

/* Обводка блогов */
.blog-card {
	padding: 10px;
	box-shadow: 0 2px 6px 0 rgb(93, 201, 186);
}

/* уменьшает отступ статей */
.main {
	padding: 20px 24px
}
.news-carousel {
	margin-bottom: 10px;
}
/* убирает рамку картинок в чате */
.chat-msg__image {
	border: none !important;
}

/* ховер текста */
.news-carousel-item__title:hover {
	color: #999
}
