/*сдвигает картинки на шлавной влево при широкоформатном стиле */  
.page_photos_module {
    text-align: left
  }  
 /*переименовать строки меню */   
#l_pr span.left_label, #myprofile_edit span.left_label, #l_fr span.left_label, #l_ph span.left_label, #l_vid span.left_label, #l_vid + li span.left_label, #l_msg span.left_label, #l_nts span.left_label, #l_gr span.left_label, #l_nwsf span.left_label, #l_nwsf + li span.left_label, #l_set span.left_label, #l_doc span.left_label, #l_doc + li span.left_label, #l_ads span.left_label, #l_spr span.left_label, #l_wk span.left_label, #l_aud span.left_label, #l_aud + li span.left_label {
	font-size: 0 !important
	}  
#l_pr span.left_label:after, #myprofile_edit span.left_label:after, #l_fr span.left_label:after, #l_ph span.left_label:after, #l_vid span.left_label:after, #l_vid + li span.left_label:after, #l_msg span.left_label:after, #l_nts span.left_label:after, #l_gr span.left_label:after, #l_nwsf span.left_label:after, #l_nwsf + li span.left_label:after, #l_set span.left_label:after, #l_doc span.left_label:after, #l_doc + li span.left_label:after, #l_ads span.left_label:after, #l_spr span.left_label:after, #l_wk span.left_label:after, #l_aud span.left_label:after, #l_aud + li span.left_label:after {
	font-size: 14px !important
	}

.font_medium #l_pr span.left_label:after, .font_medium #myprofile_edit span.left_label:after, .font_medium #l_fr span.left_label:after, .font_medium #l_ph span.left_label:after, .font_medium #l_vid span.left_label:after, .font_medium #l_vid + li span.left_label:after, .font_medium #l_msg span.left_label:after, .font_medium #l_nts span.left_label:after, .font_medium #l_gr span.left_label:after, .font_medium #l_nwsf span.left_label:after, .font_medium #l_nwsf + li span.left_label:after, .font_medium #l_set span.left_label:after, .font_medium #l_doc span.left_label:after, .font_medium #l_doc + li span.left_label:after, .font_medium #l_ads span.left_label:after, .font_medium #l_spr span.left_label:after, .font_medium #l_wk span.left_label:after, .font_medium #l_aud span.left_label:after, .font_medium #l_aud + li span.left_label:after {
	font-size: 13px !important
	}

#l_pr span.left_label:after {
	content: "Home" ; color: rgba(00,255,00,1)!important
	}
#myprofile_edit span.left_label:after {
	content: "edit" ; color: rgba(255,00,00,1) !important
	}
#l_fr span.left_label:after {
	content: "People" ; color: rgba(00,255,00,1)!important
	}
#l_ph span.left_label:after {
	content: "Foto" ; color: rgba(00,255,00,1)!important
	}
#l_vid span.left_label:after {
	content: "Video" ; color: rgba(00,255,00,1)!important
	}
#l_aud span.left_label:after {
	content: "Music" ; color: rgba(00,255,00,1)!important
	}
#l_msg span.left_label:after {
	content: "Messages" ; color: rgba(00,255,00,1)!important
	}
#l_nts span.left_label:after {
	content: "Заметки" !important
	}
#l_gr span.left_label:after {
	content: "Group" ; color: rgba(00,255,00,1)!important
	}
 li#l_nwsf {
    display: none !important;
  }
#l_set span.left_label:after {
	content: "Settings" ; color: rgba(00,255,00,1)!important
	}
#l_ap span.left_label:after {
	content: "Shit" ; color: rgba(00,255,00,1)!important
}
#l_doc span.left_label:after {
	content: "Documents"; color: rgba(00,255,00,1) !important
	}
#l_ads span.left_label:after {
	content: "Реклама" ; color: rgba(00,255,00,1)!important
	}
#l_spr span.left_label:after {
	content: "Поддержка" !important
	}
#l_wk span.left_label:after {
	content: "Страницы" !important
	} 
 /* Скрыть предложение заполнить информацию в профиле */
    div.profile_rate_warning {
    display: none
  }  
/* выпиливает укажите ваши бла-бла-бла под аватаркой */
  .online {
    color: #ff0000 !important
  }
/* цвет онлайн */  
  .online::after {
    background-color: #0f0 !important;
  }  
    #profile_online_lv {
    color: #0f0
  }
  .fc_clist_online::before {
    background-color: #0f0;
       }
/*Увеличить размер миниатюр в списке документов*/

  .docs_item_thumb_wrap  {
    width: auto;
   height: auto;
    margin-left: 0
  }
  .docs_item_thumb_img {
   width: 200px;
     max-height: none;
  }  
.docs_item_thumb {
    width: 200px;
    height: 200px;
  } 
.docs_item_cont {
    margin-left: 220px;
      }
/* Изменение высоты контакт-листа с онлайн пользователями */
#fc_contacts {
	height: 600px !important
} 
/* Убирает лайк с картинок */
div.pv_hh_like {
	display: none !important
	}  
/* Убирает блок под меню */  
  .left_menu_nav_wrap {
    display: none
  }  